html, body
{ 
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

.table .thead-dark th
{
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
}

.searchbar
{
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-right: 1px;
}

.classicform
{
  width: 60%;
  border: solid #dee2e6;
  position: relative;
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 1px;
  border-radius: .25rem;
}

.progress-container{
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
}

.col-md-10{ margin: auto; }

.table-hover tbody tr:hover { cursor: pointer; }

.center-content{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  height: 100%;
}

/* Hide all subpage containers */
.subpage-container { display: none; }

.conquers-radio-container { margin-right: 16px; }
.cnqrs-type { width: 70px; }
.big-cnqrs-type { width: 90px; }
.footer
{
  position: sticky;
  top: 95vh;
}

.navbar-end
{
  display: flex !important;
  flex-basis: auto;
  margin-left: 10px;
}

.fa { font-size: small !important;}

.fa-postgresql, .fa-laravel, .fa-bootstrap, .fa-fork-awesome{
  font-size: 37px !important;
  padding: 0rem 0.25rem;
  vertical-align: middle;
}

.icon {
  height: 32px;
  padding: 0rem 0.25rem;
}

.fa-postgresql { color: #336791; }
.fa-laravel { color: #f9322c; }
.fa-bootstrap { color: #7e12f9; }

.nav-fa
{
  color: white;
  font-size: 32px !important;
  padding: 0px 5px 0px 5px;
}

.fa-spinner
{
  font-size: 64px !important;
  margin: 5rem 0rem;
}

.fa-btn { font-size: 16px !important; }

.full-height { height: calc(100% - 127.5px); }

.btn-rounded
{
  display: inline-block;
  font-weight: 400;
  line-height: 2;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 2rem;
  transition: color .15s
    ease-in-out, background-color .15s
    ease-in-out, border-color .15s
    ease-in-out, box-shadow .15s ease-in-out;
}

.btn-custom-link
{
  color: white;
  background-color: #5865f2;
}

.btn-custom-link:hover { color: white; }

.pl-2 { padding-left: 0.25rem; }
.ml-2 { margin-left: 0.25rem; }
.ml-5 { margin-left: 0.5rem; }
.ml-breadcrumb { margin-left: 1.1rem; }

.mb-1 { margin-bottom: 0.1rem;}
.mb-2 { margin-bottom: 0.25rem; }
.mb-5 { margin-bottom: 0.5rem; }
.page-link:hover { cursor: pointer; }

.white { color: white; }
.white:hover { color: white; }
.no-u { text-decoration: none; }
.mw-840 { max-width: 840px !important; }

.lh-37 { line-height: 37px; }

.text-warning span
{
  background: #ffc107;
  height: 3px;
  width: 9px;
  display: inline-block;
  vertical-align: middle;
}

.disclaimer
{
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 235px;
  padding: 0px 8px;
}