html, body
{ 
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

.table .thead-dark th
{
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
}

.searchbar
{
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-right: 1px;
}
.classicform
{
  width: 60%;
  border: solid #dee2e6;
  position: relative;
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 1px;
  border-radius: .25rem;
}

.progress-container{
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
}

.col-md-10{ margin: auto; }

.table-hover tbody tr:hover { cursor: pointer; }

.center-content{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  height: 100%;
}

/* Hide all subpage containers */
.subpage-container { display: none; }

.conquers-radio-container { margin-right: 16px; }
.cnqrs-type { width: 70px; }
.big-cnqrs-type { width: 90px; }
.footer
{
  position: sticky;
  top: 95vh;
}

.navbar-end
{
  display: flex !important;
  flex-basis: auto;
  margin-left: 10px;
}

.fa { font-size: small !important;}

.fa-discord-alt
{
  color: white;
  font-size: 32px !important;
  margin-top: 10px;
  padding: 0px 5px 0px 5px;
}

.navbar-end a .fa-github
{
  color: white;
  font-size: 32px !important;
  margin-top: 10px;
  padding: 0px 5px 0px 5px;
}